<div class = "container">
  <div class = "row">
    <div class = "col-xs-7 col-xs-offset-3">
	     <h1>welcom to <span class = "glyphicon glyphicon-book"></span> Bookers  !!</h1>
       <p class = "top-explanation">In <span class = "glyphicon glyphicon-book"></span><strong>Bookers</strong> !!</p>
       <p class = "top-explanation">you can share and exchange your opinions, inspirations, and emotions</p>
 	     <P class = "top-explanation">about various books!</p>

	     <div class = "link-to-login">
        <%= link_to "Log in", new_user_session_path, class: "btn btn-info col-xs-9 col-xs-offset-1" %>
	     </div>
       <div class = "link-to-signup">
       <%= link_to "Sign-up", new_user_registration_path, class: "btn btn-success col-xs-9 col-xs-offset-1" %>
	     </div>
    </div>
  </div>
</div>
